@font-face {
    font-family: "FZLTHJW";
    src: url("https://openeuler-website-beijing.obs.cn-north-4.myhuaweicloud.com/Font/FZLTHJW.TTF");
}
@font-face {
    font-family: "FZLTCHJW";
    src: url("https://openeuler-website-beijing.obs.cn-north-4.myhuaweicloud.com/Font/FZLTCHJW.TTF");
}

@font-face {
    font-family: "FZLTHBJW";
    src: url("https://openeuler-website-beijing.obs.cn-north-4.myhuaweicloud.com/Font/FZLTHBJW.TTF");
}
@font-face {
    font-family: "FZLTXHJW";
    src: url("https://openeuler-website-beijing.obs.cn-north-4.myhuaweicloud.com/Font/FZLTXHJW.TTF");
}
@font-face {
    font-family: "FZLTXIHJW";
    src: url("https://openeuler-website-beijing.obs.cn-north-4.myhuaweicloud.com/Font/FZLTXIHJW.TTF");
}
@font-face {
    font-family: "FZLTZHJW";
    src: url("https://openeuler-website-beijing.obs.cn-north-4.myhuaweicloud.com/Font/FZLTZHJW.TTF");
}