@font-face {
    font-family: "FZLTHJW";
    src: url("/Font/FZLTHJW.TTF");
}
@font-face {
    font-family: "FZLTCHJW";
    src: url("/Font/FZLTCHJW.TTF");
}

@font-face {
    font-family: "FZLTHBJW";
    src: url("/Font/FZLTHBJW.TTF");
}
@font-face {
    font-family: "FZLTXHJW";
    src: url("/Font/FZLTXHJW.TTF");
}
@font-face {
    font-family: "FZLTXIHJW";
    src: url("/Font/FZLTXIHJW.TTF");
}
@font-face {
    font-family: "FZLTZHJW";
    src: url("/Font/FZLTZHJW.TTF");
}